# Fundamentos de Pandas

In [1]:
import pandas as pd

In [2]:
# Criando um dataframe a partir de uma lista de dicionários
data = [{"Nome": "John", "Idade": 32, "Cidade": "New York"},
        {"Nome": "Jane", "Idade": 29, "Cidade": "London"},
        {"Nome": "Jim", "Idade": 35, "Cidade": "Paris"}]

In [3]:
df = pd.DataFrame(data)

In [4]:
# Exibindo o dataframe
print(df)

   Nome  Idade    Cidade
0  John     32  New York
1  Jane     29    London
2   Jim     35     Paris

In [5]:
df

   Nome  Idade    Cidade
0  John     32  New York
1  Jane     29    London
2   Jim     35     Paris

In [6]:
# Acessando uma coluna
print(df["Nome"])

0    John
1    Jane
2     Jim
Name: Nome, dtype: object

In [7]:
# Estatísticas básicas da coluna Idade
print(df["Idade"].describe())

count     3.0
mean     32.0
std       3.0
min      29.0
25%      30.5
50%      32.0
75%      33.5
max      35.0
Name: Idade, dtype: float64

In [8]:
# Filtrando linhas com base em um critério
idade = df["Idade"]
print(df[idade > 30])

   Nome  Idade    Cidade
0  John     32  New York
2   Jim     35     Paris